bak/
CreatingLibrary/build/
FlightSim_Example/
"Homework 1"/build/
"Homework 2"/build/
"Note 1_25"/build/
"Note 1_30"/build/
"Note 2_1"/build/
"Note 2_6"/build/
"Note 2_8"/build/
"Note 2_12"/build/
"Note 3_12"/build/
"Note 3_14"/build/
"Note 3_21"/build/
"Note 4_2"/build/
"Note 4_4"/build/
OpenGL/build/
ProjectUsingSharedLibrary/build/
SharedLibrary/build/